/* Móviles en vertical */
@media screen and(min-width: 768px) {
    .container {  
        display: grid;
        grid-template-columns: 1fr 14fr 1fr;
        grid-template-rows: 0.15fr 2fr 0.15fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "grid-nav grid-nav grid-nav"
          ". grid-main ."
          "grid-footer grid-footer grid-footer";
    }
    .grid-nav { 
          grid-area: grid-nav;
          height: 80px;
    }

    header{
        text-align: right;  
    }
    img{
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
    }  
    .nav-ul-flex{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        margin-top: -3px;
        margin-bottom: 0px;
        list-style: none;
    }
    a{
        display: flex;
        text-decoration: none;
        text-align: center;
        color: white;
        padding: 1px 2px;
        margin: 1px;
        border: solid;
        border-width: 0.5px;
        border-radius: 10px;
        font-size: 0.65rem;
    }
    h1{
        color: #CDD0D2;
        font-size: 1.3rem;
    }
    h2{
        color: #CDD0D2;
        font-size: .8rem;
    }
    p{
        color: #CDD0D2;
        font-size: .65rem;
    }
    .grid-main { 
        grid-area: grid-main; 
    }
    .grid-footer { 
          grid-area: grid-footer; 
    }
}
  
/* Móviles en horizontal o tablets en vertical */
@media (max-width: 768px) {
    .container {  
        display: grid;
        grid-template-columns: 1fr 14fr 1fr;
        grid-template-rows: 0.5fr 1.5fr 0.3fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "grid-nav grid-nav grid-nav"
          ". grid-main ."
          "grid-footer grid-footer grid-footer";
    }
    .grid-nav { 
          grid-area: grid-nav;
    }

    header{
        text-align: right;  
    }
    img{
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
    }  
    .nav-ul-flex{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        margin-top: -3px;
        margin-bottom: 0px;
        list-style: none;
    }
    a{
        display: flex;
        text-decoration: none;
        text-align: center;
        color: white;
        padding: -2px 3px;
        margin: 2px;
        border: solid;
        border-width: 0.5px;
        border-radius: 15px;
        font-size: .8rem;
    }
    h1{
        color: #CDD0D2;
        font-size: 2rem;
    }
    h2{
        color: #CDD0D2;
        font-size: 1.1rem;
    }
    p{
        color: #CDD0D2;
        font-size: .8rem;
    }
    .grid-main { 
        grid-area: grid-main; 
    }
    .grid-footer { 
          grid-area: grid-footer; 
    }
}
  
/* Tablets en horizonal y escritorios normales */
@media screen and (min-width: 768px) and (max-width: 1199px){
    .container {  
        display: grid;
        grid-template-columns: 1fr 14fr 1fr;
        grid-template-rows: 1fr 5fr .5fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "grid-nav grid-nav grid-nav"
          ". grid-main ."
          "grid-footer grid-footer grid-footer";
    }
    .grid-nav { 
          grid-area: grid-nav;
    }
    .grid-main { 
        grid-area: grid-main; 
    }
    .grid-footer { 
          grid-area: grid-footer; 
    }

    header{
        text-align: right;  
    }
    img{
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
    }  
    .nav-ul-flex{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        margin-top: -3px;
        margin-bottom: 0px;
        list-style: none;
    }
    a{
        display: flex;
        text-decoration: none;
        text-align: center;
        color: white;
        padding: 2px 4px;
        margin: 2px;
        border: solid;
        border-width: 0.5px;
        border-radius: 15px;
        font-size: 1rem;
    }
    h1{
        color: #CDD0D2;
        font-size: 2rem;
    }
    h2{
        color: #CDD0D2;
        font-size: 1.3rem;
    }
    p{
        color: #CDD0D2;
        font-size: 1rem;
    }
    
} 
/* Escritorios muy anchos */
@media (min-width: 1200px) { 

}

html{
    text-align: center;
}
body{
    background-color: rgb(1, 80, 149);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

  

  