html{
    text-align: center;
}
body{
    background-color: rgb(1, 80, 149);
    /*background-image: linear-gradient(rgb(1, 80, 149) , rgb(6, 61, 109));*/
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.bg-light {
    --bs-bg-opacity: 0;
}
.navbar-light .navbar-nav .nav-link, h1, h2, h3, p, li, footer, label, th, td{
    color: #CDD0D2;
}
.mb-3{
    text-align: left;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}
.navbar>.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: center;
    justify-content: flex-end;
    flex-direction: column;
}
.list-group-item, .accordion-button, .accordion-button:focus, .accordion-body{
    background-color:rgb(1, 80, 149);
    color: #CDD0D2;
}
.table{
    color: white;
}