@import "colores";
@import "fuente";

html{
    text-align: justify;
}
body{
    background-color: $fondo_color;
    text-align: center;
    font-family: $font-family;
}
.bg-light {
    --bs-bg-opacity: 0;
}
.navbar-light .navbar-nav {
    .nav-link.active, .show>.nav-link{
        color: $active;
    }
}
.navbar-light .navbar-nav .nav-link, h1, h2, h3, p, li, footer, label, th, td{
    color: $letra_color;
}
.mb-3{
    text-align: left;
}
.navbar>.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: center;
    justify-content: flex-end;
    flex-direction: column;
}
.list-group-item, .accordion-button, .accordion-button:focus, .accordion-body{
    background-color: $fondo_color;
    color: $letra_color;
}
.table{
    color: $active;
}
/*Mixins*/
@mixin tamano($width, $height) {
    height: $height;
    width: $width;
}
/*Extendes*/
.boton {
    @include tamano(5rem, 2rem);
    background-color:white;
    text-align:center;
    color:black;
    border-radius:20px;
    border:1px solid black;
}
.limpiar{
    @extend .boton;
    background-color:green;
}
.enviar{
    @extend .boton;
    background-color:blue;
    color: $letra_color;
}
$mapa:(
1: white,
2: blue,
3: green,
4: yellow,
5: black,
); 

@each $valor, $clave in $mapa{
    .div--#{$valor} {
    @include tamano(100rem, 100rem);
    background-color: $clave;
    }
}

.caja{
    background-color: map-get($mapa, 1);
}