@import "colores";
@import "fuente";

html{
    text-align: justify;
}
body{
    background-color: $fondo_color;
    text-align: center;
    font-family: $font-family;
}
.bg-light {
    --bs-bg-opacity: 0;
}
.navbar-light .navbar-nav {
    .nav-link.active, .show>.nav-link{
        color: $active;
    }
}
.navbar-light .navbar-nav .nav-link, h1, h2, h3, p, li, footer, label, th, td{
    color: $letra_color;
}
.mb-3{
    text-align: left;
}
.navbar>.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: center;
    justify-content: flex-end;
    flex-direction: column;
}
.list-group-item, .accordion-button, .accordion-button:focus, .accordion-body{
    background-color: $fondo_color;
    color: $letra_color;
}
.table{
    color: $active;
}